@model List<Category>
    
<div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Tags</h5>
            </div>
            <div class="card-body">
                <ul class="list-inline d-flex flex-wrap gap-2">
                    @foreach(var category in Model){
                        <li class="list-inline-item">
                            <a href="/posts/tag/@category.Url" class="btn btn-outline-secondary btn-sm">@category.Text</a>
                        </li>
                    }
                </ul>
            </div>
        </div>